**/__pycache__
**/.DS_Store
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.idea/
deepface.egg-info/
tests/dataset/*.pkl
tests/*.ipynb
tests/*.csv
*.pyc
**/.coverage
**/.coverage.*
benchmarks/results
benchmarks/outputs
benchmarks/dataset
benchmarks/lfwe
venv

*.pt
*.pth

*.csv
*.zip
*.jpg
*.txt
*.pt
*.toml
*.json
*.png
*.cache
*.jpeg
*.pth
/0_raw*
*.mp4
*.npy
*.h5
/GazeTracking
*.run

*.pkl
*.pth
*.pyc
*.log
